@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fontPrimaryColor: rgba(0, 0, 0);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  background: linear-gradient(45deg, #aa8a8a77,#8d463a6e);
}
/* LoadingSpinner.css */
.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
}

.spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px; /* Spinner size */
  height: 60px; /* Spinner size */
  animation: spin 1s linear infinite;
}

p {
  margin-top: 10px;
  font-size: 18px;
  color: #555; /* A soft grey for the text */
}

/* Animation for the spinner */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}